
body{
    background-color: antiquewhite;
}

.title{
    text-align: center;   
    font-size: 5rem;
}

.container{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;

}

.board{
    display:grid;
    height: 600px;
    width: 600px;
    gap:2px;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    align-self: center;
}

.block{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: white;
    
}

.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: default;
    user-select: none;
}

.grid[data-fixed="true"]:hover{
    background-color: rgb(245, 98, 98) !important;
}

.grid:hover{
    background-color: beige;
}

.buttonHolder{
    display: flex;
    justify-content: center;
    gap:10px;
}

.solveButton,.resetButton,.randomButton,.checkButton{
    margin-top: 40px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    align-self: center;
}
